/* styles for the Header component */
.header {
  background-color: var(--aero-blue);
  color: var(--smokey-black);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 1rem;
}
.header_heading {
  text-align: center;
}

.header_info {
  display: grid;
  grid-template-columns: 50% 50%;
}

.header_user {
  text-align: right;
}
.header_user h3 {
  display: inline-block;
  margin-right: 20px;
}
