/* styling the blogs */
/* shared styles */
.blogs_card {
  padding: 20px 15px;
  margin: 10px 0;
  background-color: var(--aero-blue);
  border: 1px dotted var(--middle-yellow);
  border-radius: 1rem;
}

.blogs_header {
  min-height: 100px !important;
  width: 100%;
  text-align: center;
  min-height: 60px;
  border-radius: 1rem;
  border-bottom: 1px solid #000;
}

.blogs_body {
  margin: 20px 15px;
  border: 1px solid;
  height: 200px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis ellipsis;
}

/* add new blog */
.add_new_blog_title {
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--aero-blue);
}
.add_new_blog_textarea {
  width: 100%;
  padding: 20px;
  background-color: var(--aero-blue);
  min-height: 600px;
  max-height: 600px;
}
.errorVal {
  width: 50%;
  margin: 20px auto 0;
  text-align: center;
  color: #e34974;
}
.successVal {
  width: 50%;
  margin: 20px auto 0;
  text-align: center;
  color: #4bb543;
}
.add_new_blog_link {
  margin: 0 5px;
  text-decoration: underline;
}
