/* styling the blogs */
/* shared styles */
.card {
  padding: 20px 15px;
  margin: 10px 0;
  background-color: var(--aero-blue);
  border: 1px dotted var(--middle-yellow);
  border-radius: 1rem;
}

.header {
  display: grid;
  grid-template-columns: 70% 30%;
}

.body {
  margin: 20px 15px;
  border: 1px solid;
  height: 200px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis ellipsis;
}

.blog_interaction {
  /*  */
}

/* add new blog */
.blog_title {
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--aero-blue);
}
.textarea {
  width: 100%;
  padding: 20px;
  background-color: var(--aero-blue);
  min-height: 600px;
  max-height: 600px;
}
.errorVal {
  width: 50%;
  margin: 20px auto 0;
  text-align: center;
  color: #e34974;
}
.successVal {
  width: 50%;
  margin: 20px auto 0;
  text-align: center;
  color: #4bb543;
}
.link {
  margin: 0 5px;
  text-decoration: underline;
}
