/* styling the blogs */
/* shared styles */
.card {
  padding: 20px 15px;
  margin: 10px 0;
  background-color: var(--aero-blue);
  border: 1px dotted var(--middle-yellow);
  border-radius: 1rem;
}

.header {
  display: grid;
  grid-template-columns: 70% 30%;
}

.body {
  margin: 20px 15px;
  border: 1px solid;
  height: 200px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis ellipsis;
}

.blog_interaction {
  /*  */
}
