/* styling for the add new blog cloud */
.cloud_container {
  width: 1000px;
  height: 1000px;
  border-radius: 25%;
  margin: 50px auto;
  position: relative;
  z-index: 2;
}

.cloud_content {
  max-height: 950px;
  border-radius: 20%;
  position: absolute;
  top: 50px;
  right: 50px;
  left: 50px;
  bottom: 50px;
  background-color: var(--ghost-white);
  border: 1px dashed grey;
  z-index: 1;
}

.cloud_form {
  width: 700px;
  max-height: 800px;
  margin: 50px auto;
  position: relative;
}

.cloud {
  border-radius: 50%;
  position: absolute;
  background-color: var(--aero-blue);
  /* border: 0.5px dashed grey; */
}
/* clouds */
/* top row */
.cloud1 {
  top: 0;
  right: 0;
  left: 750px;
  bottom: 800px;
}
.cloud2 {
  top: 0;
  right: 150px;
  left: 650px;
  bottom: 700px;
}
.cloud3 {
  top: 0;
  right: 250px;
  left: 500px;
  bottom: 800px;
}
.cloud4 {
  top: 0;
  right: 400px;
  left: 350px;
  bottom: 700px;
  z-index: 1;
}
.cloud5 {
  top: 0;
  right: 550px;
  left: 150px;
  bottom: 800px;
}
.cloud6 {
  top: 0;
  right: 750px;
  left: 50px;
  bottom: 700px;
}

.cloud7 {
  top: 0;
  right: 850px;
  left: -50px;
  bottom: 800px;
}

/* left side */
.cloud8 {
  top: 150px;
  right: 850px;
  left: 0;
  bottom: 650px;
}
.cloud9 {
  top: 250px;
  right: 850px;
  left: -50px;
  bottom: 500px;
}
.cloud10 {
  top: 400px;
  right: 800px;
  left: -25px;
  bottom: 350px;
}
.cloud11 {
  top: 600px;
  right: 850px;
  left: -15px;
  bottom: 300px;
}
.cloud12 {
  top: 650px;
  right: 850px;
  left: -10px;
  bottom: 100px;
}

/* bottom row */
.cloud13 {
  bottom: 0;
  right: 0;
  left: 750px;
  top: 800px;
}
.cloud14 {
  bottom: 0;
  right: 150px;
  left: 650px;
  top: 700px;
}
.cloud15 {
  bottom: 0;
  right: 250px;
  left: 500px;
  top: 800px;
}
.cloud16 {
  bottom: 0;
  right: 400px;
  left: 350px;
  top: 700px;
  z-index: 1;
}
.cloud17 {
  bottom: 0;
  right: 550px;
  left: 150px;
  top: 800px;
}
.cloud18 {
  bottom: 0;
  right: 750px;
  left: 50px;
  top: 700px;
}

.cloud19 {
  bottom: 0;
  right: 850px;
  left: -50px;
  top: 800px;
}

/* right side */
.cloud20 {
  bottom: 150px;
  left: 850px;
  right: 0;
  top: 650px;
}
.cloud21 {
  bottom: 250px;
  left: 850px;
  right: -50px;
  top: 500px;
}
.cloud22 {
  bottom: 400px;
  left: 800px;
  right: -25px;
  top: 350px;
}
.cloud23 {
  bottom: 600px;
  left: 850px;
  right: -15px;
  top: 300px;
}
.cloud24 {
  bottom: 650px;
  left: 850px;
  right: -10px;
  top: 100px;
}
