/* styles for the blog container */

.community_button_AddBlog {
  float: right;
  margin-bottom: 20px;
}
.community_clear_Float {
  clear: both;
}

/* loading state */
.loading_state {
  margin-top: 50px;
}
