/* styles for the homepage */
.home_page {
  text-align: center;
}

.home_page h1 {
  margin-bottom: 20px;
}

.home_page p a {
  color: var(--orange-pantone);
}
.home_page p a:hover {
  text-decoration: underline;
}
