/* join community styles */
.join_container {
  width: 600px;
  margin: 0 80% 0 20%;
  text-align: center;
}
.join_form {
  width: 400px;
  margin: auto;
}

.join_form form input {
  padding: 10px;
  width: 400px;
  margin-bottom: 20px;
  border: 0.5px solid;
  border-radius: 5px;
}

.join_button {
  width: 100px;
  margin: auto;
}
.join_errorVal {
  margin: 20px auto 0;
  text-align: center;
  color: #e34974;
}
.join_successVal {
  margin: 20px auto 0;
  text-align: center;
  color: #4bb543;
}
.join_link {
  text-decoration: underline;
}
