/* layout styles */
.layout_container {
  max-width: 1800px;
  margin: 30px auto;
}

.layout_blog_container {
  min-height: 100%;
  padding: 20px;
  min-width: 600px;
  border-radius: 1rem;
  border: 1px dotted;
}

.layout_container_Body {
  display: grid;
  grid-template-columns: 12% 86%;
  gap: 2%;
}
