/* styles for the navbar */
.navbar {
  border-radius: 1rem;
  background-color: var(--aero-blue);
  display: flex;
  align-items: flex-start;
}
.navbar_buttons {
  width: 100%;
  padding: 20px;
}
.navbar_community_button {
  margin-bottom: 10px;
}
.navbar_join_button {
  margin-top: 10px;
}
.navbar_links {
  color: #000;
  text-align: center;
  text-decoration: none;
}
